name: CD

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:
  
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  CD:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v3
      

      - name: Set up Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          
          
      - name: Install dependencies
        run: npm install
        
        
      - name: Run the tests
        run: npm run test -- --coverage
        env:
          CI: true
        
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          
      - name: Build the application
        run: npm run build
          
      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'build'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
